{% extends "base.html" %}

{% block content %}
    <h2 style="margin-top: 20px" class="text-center">Works log</h2>
    {% if current_user.is_authenticated %}
        <a href="/add_jobs" class="btn btn-secondary">Add job</a>
        <a href="/departament" class="btn btn-secondary">Go to the Department
        </a>
    {% endif %}
    {% for job in jobs %}
        <h4 style="margin-top: 30px">Action # {{ job.id }}</h4>
        <table width="90%">
            <thead>
                <tr style="background-color: rgba(221,221,221,0.83)">
                    <th class="col">Title of activity</th>
                    <th class="col">Team leader</th>
                    <th class="col">Duration</th>
                    <th class="col">List of collaborators</th>
                    <th class="col-2">Is finished</th>
                </tr>
            </thead>
            <tbody>
                <tr style="padding: 10px">
                    <td class="col" style="background-color:
                     rgba(183,196,255,0.83)">{{ job.job }}</td>
                    <td class="col" style="background-color:
                    rgba(183,196,255,0.83)">{{ job.user.name}} {{ job.user.surname }}</td>
                    <td class="col" style="background-color:
                    rgba(183,196,255,0.83)">{{ job.work_size}} hours</td>
                    <td class="col" style="background-color:
                     rgba(183,196,255,0.83)">{{ job.collaborators }}</td>
                    {% if job.is_finished %}
                        <td class="col-2" style="background-color: rgba(157,255,170,0.83)">Is finished</td>
                    {% else %}
                        <td class="col-2" style="background-color: rgba(255,184 ,231,0.83)">Is not finished</td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% if current_user.is_authenticated and current_user == job.user %}
            <div style="margin-top: 20px">
                <a href="/edit_jobs/{{ job.id }}" class="btn btn-warning">Edit Job</a>
                <a href="/delete_jobs/{{ job.id }}" class="btn btn-danger">Delete job</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}